{% extends "firstApp/base.html" %}
{% load static %}
{% block content %}
<footer>
        <div class="container">
            <div class="footer-content">
                <div class="copyright">
                    &copy; 2023 Kevin Obaga. All Rights Reserved.
                </div>
                <ul class="footer-links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>

{% endblock content %}

