{% extends "firstApp/base.html" %}
{% load static %}
{% block content %}

 <header>
        <div class="container">
            <nav>
                <div class="logo">KEVIN OBAGA</div>
                <div class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </div>
                <ul class="nav-links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock content %}


