{% extends "firstApp/base.html" %}
{% load static %}
{% block content %}
<section class="section testimonials">
        <div class="container">
            <div class="section-title">
                <h2>Client Testimonials</h2>
                <p>What my clients say about my work</p>
            </div>
            <div class="testimonial-grid">
                <div class="testimonial-card">
                    <div class="testimonial-text">
                        <p>"Kevin transformed our entire cloud infrastructure, resulting in 40% cost savings and improved performance. His expertise is unmatched."</p>
                    </div>
                    <div class="testimonial-author">
                        <div class="author-img">
                            <img src="images/client1.jpg" alt="Client">
                        </div>
                        <div class="author-info">
                            <h4>James Wilson</h4>
                            <p>CEO, TechSolutions Inc.</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="testimonial-text">
                        <p>"The security assessment Kevin conducted identified vulnerabilities we didn't even know existed. His recommendations made our systems bulletproof."</p>
                    </div>
                    <div class="testimonial-author">
                        <div class="author-img">
                            <img src="images/client2.jpg" alt="Client">
                        </div>
                        <div class="author-info">
                            <h4>Sarah Johnson</h4>
                            <p>CTO, FinSecure</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="testimonial-text">
                        <p>"Working with Kevin on our IT strategy was a game-changer. He understands both technology and business needs perfectly."</p>
                    </div>
                    <div class="testimonial-author">
                        <div class="author-img">
                            <img src="images/client3.jpg" alt="Client">
                        </div>
                        <div class="author-info">
                            <h4>Michael Brown</h4>
                            <p>Director, Global Retail Corp</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}


